<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>https://usu.cse.spacecraftemulator.com</title>
    <script src="page_manigure.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="horizontal-container">
        <div="item"><h1 class="white-text">CSE Space Craft Emulator Data Stream Interface</h1>
    </div>
    <div class="tab-container">
        <div class="tab" onclick="open_tab('Status Report')">Status Report</div>
        <div class="tab" onclick="open_tab('Command')">Command</div>
        <div class="tab" onclick="open_tab('Sensor')">Sensor</div>
    </div>
    <div>
        <h1 class = "green-text">Select serial listener: </h1>
        <select id="serial_listener_dropdown"></select>

        <h3 class="green-text"> Configure the serial listener: </h3>
        <div class="container">
            <div class="box_style">
                <label class = "white-text" for="user_text">Enter baud_rate: </label>
                <input type="text" id="baud_rate_listener" placeholder="EX: 9600">
            </div>
            <div class="box_style">
                <label class = "white-text" for="user_text">Enter stop bits: </label>
                <input type="text" id="stop_bit_listener" placeholder="EX: 1">
            </div>
        </div>
        <div class="container">
            <button class = "button_format" onclick="send_serial_reconfig_request('listener')">Submit</button>
            <div class="box_style">
                <div class="green-text" id="result_serial_config_listener">Serial Report</div>
            </div>
        </div>
    </div>
    <div>    
        <h1 class = "green-text">Select serial writer: </h1>
        <select id="serial_writer_dropdown"></select>
        <h3 class="green-text"> Configure the serial writer: </h3>
        <div class="container">
            <div class="box_style">
                <label class = "white-text" for="user_text">Enter baud_rate: </label>
                <input type="text" id="baud_rate_writer" placeholder="EX: 9600">
            </div>
            <div class="box_style">
                <label class = "white-text" for="user_text">Enter stop bits: </label>
                <input type="text" id="stop_bit_writer" placeholder="EX: 1">
            </div>
        </div>
        <div class="container">
            <button class = "button_format" onclick="send_serial_reconfig_request('writer')">Submit</button>
            <div class="box_style">
                <div class="green-text" id="result_serial_config_writer">Serial Report</div>
            </div>
        </div>
    </div>
    
    <h2 class="green-text"> Serial Ports status report: </h2>
    <table id = 'serial_status'>
        <thead>
            <tr class = "orange-text">
                <th>Port</th>
                <th>Connect ?</th>
                <th>Buad rate</th>
                <th>Stop Bits</th>
                <th>Subscribers</th>
            </tr>
            <tbody id="serial_status_body">
                <!-- Table body will be populated dynamically -->
            </tbody>
        </thead>
    </table>
    <!-- Grid container for charts -->
    <div id="graphs" style="display: grid; grid-template-columns: auto auto;">
    </div>
    

    <script>
        // Call the populateDropdown function when the page loads
        window.addEventListener('load', get_serial_listener_drop_down);
        window.addEventListener('load', get_serial_writer_drop_down);
        window.addEventListener('load', update_serial_status);
        // Make the graphs
        makeGraphs();
        // Fetch data and update the graphs every second
        setInterval(updateGraphs, 1000);
        //update the serial status
        setInterval(update_serial_status, 1000);
        
    </script> 
</body>
</html>
