<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>https://usu.cse.spacecraftemulator.com</title>
    <script src="page_manigure.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="horizontal-container">
        <div="item"><h1 class="white-text">CSE Space Craft Emulator Data Stream Interface</h1>
    </div>
    <div class="tab-container">
        <div class="tab" onclick="open_tab('Status Report')">Status Report</div>
        <div class="tab" onclick="open_tab('Command')">Command</div>
        <div class="tab" onclick="open_tab('Sensor')">Sensor</div>
        <div class="tab" onclick="open_tab('unit_testing')">Passed Unit test</div>
        <div class="tab" onclick="open_tab('failed_test')">failed test</div>
    </div>
    
    <h2 class="green-text"> Serial Ports status report: </h2>
    <table id = 'serial_status'>
        <thead>
            <tr class = "orange-text">
                <th>Port</th>
                <th>Connect ?</th>
                <th>Buad rate</th>
                <th>Stop Bits</th>
                <th>Subscribers</th>
            </tr>
            <tbody id="serial_status_body">
                <!-- Table body will be populated dynamically -->
            </tbody>
        </thead>
    </table>
    <!-- Grid container for charts -->
    <div id="graphs" style="display: grid; grid-template-columns: auto auto;">
    </div>
    

    <script>
        // Call the populateDropdown function when the page loads
        window.addEventListener('load', update_serial_status);
        // Make the graphs
        makeGraphs();
        // Fetch data and update the graphs every second
        setInterval(updateGraphs, 1000);
        //update the serial status
        setInterval(update_serial_status, 1000);
        
    </script> 
</body>
</html>
