<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>https://usu.cse.spacecraftemulator.com</title>
    <script src="page_manigure.js"></script>
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="horizontal-container">
        <div="item"><h1 class="white-text">CSE Space Craft Emulator Sensor Interface</h1>
    </div>
    <div class="tab-container">
        <div class="tab" onclick="open_tab('Status Report')">Status Report</div>
        <div class="tab" onclick="open_tab('Data Stream')">Data Stream</div>
        <div class="tab" onclick="open_tab('Command')">Command</div>
    </div>
    <table>
        <thead>
            <tr class = "orange-text">
                <th>Name</th>
                <th>Status</th>
                <th>Taps (listeners)</th>
            </tr>
            <tbody id = "sensors_status_report">
                <!-- Table body will be populated dynamically -->
            </tbody>
        </thead>
    </table>
    <script>
        //update the sensor status table
        setInterval(update_sensor_status, 1000);
    </script>
</body>
</html>
