[submodule "src/host/threading_python_api"]
	path = src/host/threading_python_api
	url = git@github.com:Center-for-Space-Engineering/threading_python_api.git
[submodule "src/host/logging_system_display_python_api"]
	path = src/host/logging_system_display_python_api
	url = git@github.com:Center-for-Space-Engineering/logging_system_display_python_api.git
[submodule "src/host/python_serial_api"]
	path = src/host/python_serial_api
	url = git@github.com:Center-for-Space-Engineering/python_serial_api.git
[submodule "src/host/command_packets"]
	path = src/host/command_packets
	url = git@github.com:Center-for-Space-Engineering/command_packets.git
[submodule "src/host/sensor_interface_api"]
	path = src/host/sensor_interface_api
	url = git@github.com:Center-for-Space-Engineering/sensor_interface_api.git
