**/logs
**/__pycache__/
**/database/**
**/.vscode/**
**/.pytest_cache/
**/failed_test/
**/passed_test/
gps_board.html
**/templates/assets/**
**/templates/**_1.html
**/templates/packet_detect.html
**/templates/stt_L0_to_L1_converter.html
